@model GamesAndSharesViewModel
<!-- slider area -->
<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">


         @*     @if (Model.Shares.Count() > 0)
            {
                @foreach (var obj in Model.Shares.Take(4))
                { 
                    <li>
                        <img src="~/images/slider/@obj.Games.Poster" alt="Slide">
                        <div class="caption-group">
                            <h2 class="caption title">
                                @obj.Games.NameGame
                            </h2>
                            <h4 class="caption subtitle">@obj.Games.Ganres.NameGanres</h4>
                            <a class="caption button-radius" asp-controller="" asp-action="" asp-route-id=0><span class="icon"></span>Купи сейчас от @obj.DiscountPrice BYN вместо <del>@obj.Games.Price</del> BYN</a>
                        </div>
                    </li>

                }
            } 
 *@

        </ul>
    </div>
    <!-- ./Slider -->
</div>
<!-- End slider area -->
<!-- promo area -->
<div class="promo-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-key"></i>
                    <p>Лицензионные ключи </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-gear"></i>
                    <p>Гарантированная техподдержка</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-ticket"></i>
                    <p>Регулярные акции, скидки и бонусы</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-money"></i>
                    <p>Удобная оплата <br>игр</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End promo area -->
<!-- product widget area -->
<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Лидеры продаж</h2>
                    <a asp-controller="Home" asp-action="Catalog" class="wid-view-more">Смотреть все</a>

                    @if (Model.Games.Count() > 0)
                    {
                        @foreach (var obj in Model.Games.Take(3))
                        { 
                            <div class="single-wid-product">
                                <img src="~/images/product/@obj.Poster" alt="" />
                        <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.Id>@obj.NameGame</a></h2>
                                <div class="product-wid-rating">
                                    <p class="descriptionInfo">@obj.Ganres.NameGanres, @obj.Developers.NameDeveloper</p>

                                </div>
                                <div class="product-wid-price">
                                    @if (Model.Shares.Where(s => s.Gamesid == obj.Id).Count() > 0)
                                    {
                                        @foreach (var sh in Model.Shares.Where(s => s.Gamesid == obj.Id))
                                        { 
                                            <ins>@sh.DiscountPrice BYN</ins> <del>@obj.Price BYN</del>
                                         }
                                    } 
                                    @if (Model.Shares.Where(s => s.Gamesid == obj.Id).Count() == 0)
                                    { 
                                        <ins>@obj.Price BYN</ins>
                                     } 
                                    <a asp-area="" asp-controller="" asp-action="" asp-route-id=0 class="add_to_cart_button">В корзину</a>
                                </div>
                            </div>
                         }
                    } 
                </div>
            </div>


            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Популярные</h2>
                    <a asp-controller="Home" asp-action="Catalog" class="wid-view-more">Смотреть все</a>

                    @if (Model.Games.Count() > 0)
                    {
                        @foreach (var obj in Model.Games.OrderBy(a => a.Price).Take(3))
                        { 

                            <div class="single-wid-product">
                                <img src="~/images/product/@obj.Poster" alt="" />
                                <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.Id>@obj.NameGame</a></h2>
                                <div class="product-wid-rating">
                                    <p class="descriptionInfo">@obj.Ganres.NameGanres, @obj.Developers.NameDeveloper</p>
                                </div>
                                <div class="product-wid-price">
                                     @if (Model.Shares.Where(s => s.Gamesid == obj.Id).Count() > 0)
                                    {
                                        @foreach (var sh in Model.Shares.Where(s => s.Gamesid == obj.Id))
                                        { 
                                            <ins>@sh.DiscountPrice BYN</ins> <del>@obj.Price BYN</del>
                                        }
                                    } 
                                     @if (Model.Shares.Where(s => s.Gamesid == obj.Id).Count() == 0)
                                     {
                                        <ins>@obj.Price BYN</ins>
                                     } 
                                    <a asp-area="" asp-controller="" asp-action="" asp-route-id=0 class="add_to_cart_button">В корзину</a>
                                </div>
                            </div>
                        }
                    } 


                </div>
            </div>

            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Новинки</h2>
                    <a asp-controller="Home" asp-action="Catalog" class="wid-view-more">Смотреть все</a>


                     @if (Model.Games.Count() > 0)
                    {
                        @foreach (var obj in Model.Games.OrderByDescending(s => s.DateAddedSite).Take(3))
                        { 

                            <div class="single-wid-product">
                                <img src="~/images/product/@obj.Poster" alt="" />
                                <h2><a class="product-name" asp-controller="Home" asp-action="SinglePageGame" asp-route-id=@obj.Id>@obj.NameGame</a></h2>
                                <div class="product-wid-rating">
                                    <p class="descriptionInfo">@obj.Ganres.NameGanres, @obj.Developers.NameDeveloper</p>
                                </div>
                                <div class="product-wid-price">
                                    @if (Model.Shares.Where(s => s.Gamesid == obj.Id).Count() > 0)
                                    {
                                        @foreach (var sh in Model.Shares.Where(s => s.Gamesid == obj.Id))
                                        { 
                                            <ins>@sh.DiscountPrice BYN</ins> <del>@obj.Price BYN</del>
                                        }
                                    }
                                   @if (Model.Shares.Where(s => s.Gamesid == obj.Id).Count() == 0)
                                    { 
                                        <ins>@obj.Price BYN</ins>
                                    } 
                                    <a asp-area="" asp-controller="" asp-action="" asp-route-id=0 class="add_to_cart_button">В корзину</a>
                                </div>
                            </div>
                       }
                    } 
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End product widget area -->
