
@model GamesAndSharesViewModel

@{
    ViewData["Title"] = Model.Game.NameGame;
}
<!--Area Sigle Page-->

        <div class="container">
            <div class="_newSingleAreaGame">

                <div class="_previewGame">
                    <img src="~/images/product/@Model.Game.Poster" alt="" />
                </div>
                <div class="_NameGame_and_other_info">
            <h1>@Model.Game.NameGame</h1>
            <p>@Model.Game.Ganres.NameGanres, @Model.Game.Developers.NameDeveloper, @Model.Game.ReleaseDate</p>
            <p>Активация: @Model.Game.Platforms.NamePlatform</p>
            <p>Особенности:  @Model.Game.Features</p>
                    <div class="_priceGame">
                <ins>@Model.Game.Price BYN</ins>
                    </div>
                    <a asp-area="" asp-controller="" asp-action="" asp-route-id=0 class="add_to_cart_button">В корзину</a>
                </div>
            </div>
            <div class="_descriptionGame">
                <h1>Описание:</h1>
                <p>
            @Model.Game.DescriptionG
                </p>
            </div>
            <div class="_videoGameTriler">
        <iframe src="https://www.youtube.com/embed/@Model.Game.LinkTrailerGame" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="_GameScreenShots">
                <!-- Slider -->
                <div class="block-slider block-slider4">
                    <ul class="" id="bxslider-home4">
                        <li>
                    <img src="~/images/product/screenshotGame/@Model.Game.ScreenshotGame1" alt="screenshotGame_1" />
                        </li>
                        <li>
                    <img src="~/images/product/screenshotGame/@Model.Game.ScreenshotGame2" alt="screenshotGame_1" />
                        </li>
                        <li>
                    <img src="~/images/product/screenshotGame/@Model.Game.ScreenshotGame3" alt="screenshotGame_1" />
                        </li>
                        <li>
                    <img src="~/images/product/screenshotGame/@Model.Game.ScreenshotGame4" alt="screenshotGame_1" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="system_requirements">
                <h2>Системные требования:</h2>
        <p>ОС: <i>@Model.Game.OS</i></p>
        <p>Процессор: <i>@Model.Game.CPU </i></p>
        <p>Оперативная память: <i>@Model.Game.RAM GB </i></p>
        <p>Видеокарта: <i>@Model.Game.VRAM</i></p>
        <p>Место на диске: <i>@Model.Game.GameWeight GB</i></p>
            </div>
        </div>


